<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yunchat">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.NewFriendActivity"/>
        <activity android:name=".activities.AddFriendMessageActivity" />
        <activity android:name=".activities.SearchFriendActivity" />
        <activity android:name=".activities.AddFriendActivity" />
        <activity android:name=".activities.MessageServerActivity"/>
        <activity
            android:name=".dialogs.DialogMessage"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>